<div class="row">
    <div class="col-12" [smoothHeight]="loading || partitionsRefresh">
        <h3>{{ 'home.partitions' | translate }}:</h3>

        <ng-container *ngIf="loading">
            <p-skeleton width="85%" height="3.2rem"></p-skeleton>
            <div style="width:1px;height:1rem"></div>
            <p-skeleton width="95%" height="3rem"></p-skeleton>
            <div style="width:1px;height:.5rem"></div>
            <p-skeleton width="70%" height="2.5rem"></p-skeleton>
        </ng-container>

        <div *ngIf="!loading">
            <div *ngIf="!disks || disks.length===0">
                {{ 'home.errorPartitionsInfo' | translate }}
            </div>
            <div *ngFor="let disk of disks">
                <div *ngFor="let partition of disk.partitions">

                    <div class="row partition mat-elevation-z1 rounded">
                        <div class="col-1-sm hidden-sm">
                            <img src="/assets/img/icons/hard-disk.png" width="30px" height="auto" />
                        </div>
                        <div class="col-3-sm partition-text">
                            <span *ngIf="partition.isInEditMode">
                                <mat-form-field class="display-name-input">
                                    <mat-label>{{ 'home.displayName' | translate }}</mat-label>
                                    <input matInput [(ngModel)]="partition.displayName" maxlength="50">
                                </mat-form-field>
                            </span>
                            <span class="font-heavy" *ngIf="!partition.isInEditMode">
                                <span *ngIf="!partition.displayName">{{partition.name}}</span>
                                <span *ngIf="partition.displayName">{{partition.displayName}}</span>
                            </span>
                            <button mat-icon-button *ngIf="!partition.isInEditMode && appService.isInTweakMode"
                                (click)="onEditClick(partition)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                        <div class="col-2-sm partition-text">
                            <button mat-icon-button *ngIf="partition.isInEditMode" [disabled]="partition.isFreezed"
                                (click)="onSaveClick(partition)">
                                <mat-icon>save</mat-icon>
                            </button>
                            <button mat-icon-button *ngIf="partition.isInEditMode" [disabled]="partition.isFreezed"
                                (click)="onCancelEditClick(partition)">
                                <mat-icon>cancel</mat-icon>
                            </button>
                            <span class="font-light" *ngIf="!partition.isInEditMode">
                                &nbsp;
                                {{ 'home.size' | translate }}: {{partition.memoryInMB | size}}
                            </span>
                        </div>
                        <div class="col-3-sm partition-text">
                            <mat-progress-bar *ngIf="partition.isFreezed" mode="indeterminate"></mat-progress-bar>
                            <span class="font-light hidden-sm"
                                *ngIf="!partition.isInEditMode && !partition.isFreezed && partition.mountingPoint">
                                {{partition.mountingPoint}}
                            </span>
                        </div>
                        <div class="col-3-sm flex-center">
                            <button mat-stroked-button matTooltip="Mount"
                                [disabled]="partition.isFreezed || partition.isMain" *ngIf="!partition.mountingPoint"
                                (click)="onMountClick(partition)">
                                <mat-icon>login</mat-icon>
                            </button>
                            <button mat-stroked-button matTooltip="Unmount"
                                [disabled]="partition.isFreezed || partition.isMain" *ngIf="partition.mountingPoint"
                                (click)="onUnmountClick(partition)" color="warn">
                                <mat-icon>logout</mat-icon>
                            </button>
                            <mat-checkbox (ngModelChange)="onAutoMountChange($event,partition)"
                                *ngIf="partition.mountingPoint" [disabled]="partition.isFreezed || partition.isMain"
                                [(ngModel)]="partition.isAutoMountEnabled" class="auto-mount-btn"
                                matTooltip="Auto mount"></mat-checkbox>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<div class="small-spacer"></div>