<mat-progress-bar mode="indeterminate" *ngIf="isFreezed"></mat-progress-bar>

<div class="row" [smoothHeight]="appService.isInTweakMode">
    <div class="col-12 flex-center font-heavy" *ngIf="appService.isInTweakMode">

        <mat-form-field class="transmission-dir-field">
            <mat-label>{{ 'transmission.completedDir' | translate }}</mat-label>
            <input matInput [disabled]="isFreezed" [(ngModel)]="completedDir">
        </mat-form-field>

        <mat-form-field class="transmission-dir-field">
            <mat-label>{{ 'transmission.incompletedDir' | translate }}</mat-label>
            <input matInput [disabled]="isFreezed" [(ngModel)]="incompletedDir">
        </mat-form-field>

        <button mat-icon-button [disabled]="isFreezed" (click)="onSaveClick()">
            <mat-icon>save</mat-icon>
        </button>

    </div>
</div>

<!-- TODO: Config of 2 folder in tweak mode -->

<div class="row">
    <div class="col-12-sm transmission-app">
        <iframe title="Transmission" width="100%" height="100%" [src]="transmissionUrl | safe"></iframe>
    </div>
</div>

<div class="row">
    <div class="col-2-sm">
        <button mat-raised-button color="warn" [disabled]="isFreezed" (click)="onRestartClick()">
            {{ 'transmission.restart' | translate }}
        </button>
    </div>
    <div class="col-10-sm"></div>
</div>