.entry-container {
    width: 100%;
    padding: 20px;
}

a {
    color: black;
}

.progress-bar {
    margin-top: 15px;
}

.armnas-text {
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

.entry {
    padding: 5px;
    margin-bottom: 10px;
    max-height: 380px;
    overflow: auto;
    background-color: rgb(245, 245, 245);
}

.full-width {
    width: 100%;
}