<div class="row" [smoothHeight]="appService.isInTweakMode">
    <div class="col-12 flex-center font-heavy" *ngIf="appService.isInTweakMode">
        {{ 'common.nothingToTweak' | translate }}
    </div>
</div>

<div class="container mat-elevation-z3 rounded">

    <div class="row">
        <div class="col-3-sm">
            <h3 *ngIf="!isSaving">{{ 'cron.cronCommands' | translate }}</h3>
            <mat-progress-bar class="progress-bar" *ngIf="isSaving" mode="indeterminate"></mat-progress-bar>
        </div>
        <div class="col-9-sm" style="padding-top:10px">
            <div style="float:right;">
                <a href="https://crontab.guru/" matTooltip="{{ 'cron.cronGenerator' | translate }}" target="_blank">
                    <button mat-stroked-button>
                        <mat-icon>help</mat-icon>
                    </button>
                </a>
                <button mat-stroked-button [disabled]="isSaving" (click)="onAddClick()">
                    <mat-icon>add</mat-icon>
                </button>
                <button mat-stroked-button style="margin-left:5px;" [disabled]="isSaving" (click)="onSaveClick()">
                    <mat-icon>save</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12-sm" [smoothHeight]="isLoading">
            <div class="rounded entry-container">

                <ng-container *ngIf="isLoading">
                    <p-skeleton width="65%" height="2rem"></p-skeleton>
                    <div style="width:1px;height:1rem"></div>
                    <p-skeleton width="45%" height="3.5rem"></p-skeleton>
                    <div style="width:1px;height:.5rem"></div>
                    <p-skeleton width="75%" height="3.7rem"></p-skeleton>
                    <div style="width:1px;height:.5rem"></div>
                    <p-skeleton width="97%" height="2.2rem"></p-skeleton>
                    <div style="width:1px;height:.7rem"></div>
                    <p-skeleton width="80%" height="2.3rem"></p-skeleton>
                    <div style="width:1px;height:.5rem"></div>
                    <p-skeleton width="85%" height="1.9rem"></p-skeleton>
                </ng-container>

                <ng-container *ngIf="!isLoading">
                    <div *ngFor="let entry of viewEntries" class="entry mat-elevation-z2 rounded">

                        <div class="col-4-sm">
                            <mat-form-field class="full-width">
                                <mat-label>Cron</mat-label>
                                <input type="text" matInput
                                    [disabled]="entry.isArmansStartScript || entry.isArmansMountingPoint || isSaving"
                                    [(ngModel)]="entry.model.cron">
                            </mat-form-field>
                        </div>

                        <div class="col-6-sm">
                            <div class="armnas-text" *ngIf="entry.isArmansStartScript">
                                {{ 'cron.armnasStartScript' | translate }}
                            </div>
                            <div class="armnas-text" *ngIf="entry.isArmansMountingPoint">
                                {{entry.isArmnasMountingPointFor}} - {{ 'cron.armnasMountingPoint' | translate }}
                            </div>
                            <mat-form-field class="full-width"
                                *ngIf="!entry.isArmansStartScript && !entry.isArmansMountingPoint">
                                <mat-label>{{ 'cron.command' | translate }}</mat-label>
                                <input type="text" matInput
                                    [disabled]="entry.isArmansStartScript || entry.isArmansMountingPoint || isSaving"
                                    [(ngModel)]="entry.model.command">
                            </mat-form-field>
                        </div>

                        <div class="col-2-sm">
                            <button mat-icon-button style="margin-left:5px;"
                                [disabled]="entry.isArmansStartScript || entry.isArmansMountingPoint || isSaving"
                                (click)="onDeleteClick(entry)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>

                    </div>
                </ng-container>

            </div>
        </div>
    </div>

</div>