<h2>
  <mat-icon class="icon" *ngIf="payload.type === DialogType.info">info</mat-icon>
  <mat-icon class="icon" *ngIf="payload.type === DialogType.alert">warning</mat-icon>
  <mat-icon class="icon" color="warn" *ngIf="payload.type === DialogType.error">error</mat-icon>
  <div class="icon-spacer"></div>
  <div class="title">{{payload.title}}</div>
  <div class="title-fix">{{payload.title}}</div>

</h2>

<div mat-dialog-content>
  <div class="text" *ngFor="let text of payload.texts">{{text}}</div>
</div>
<div class="small-spacer"></div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="dialogRef.close(true)">
    <span *ngIf="payload.btnType === DialogButtonType.yesNo">{{ 'common.yes' | translate }}</span>
    <span *ngIf="payload.btnType === DialogButtonType.ok">Ok</span>
    <span style="color:#f44336" *ngIf="payload.btnType === DialogButtonType.confirm">{{ 'common.confirm' | translate
      }}</span>
  </button>
  <button mat-raised-button (click)="dialogRef.close(null)">
    <span *ngIf="payload.btnType === DialogButtonType.yesNo">{{ 'common.no' | translate }}</span>
    <span *ngIf="payload.btnType !== DialogButtonType.yesNo">{{ 'common.cancel' | translate }}</span>
  </button>
</div>