<header class="mat-elevation-z6">

  <div class="header-container">

    <div class="app-name-area" routerLink="/home">
      <img src="/assets/img/logo/color/text_m.png" *ngIf="!isScreenSmall">
      <img src="/assets/img/logo/color/icon_m.png" style="width:auto;height:32px" *ngIf="isScreenSmall">
    </div>

    <div class="user-area">

      <ng-container>

        <div class="nav-spacer"></div>

        <button class="nav-btn" mat-raised-button routerLink="/home">
          <mat-icon>home</mat-icon>
          <span *ngIf="!isScreenSmall">{{ 'navbar.home' | translate }}</span>
        </button>

        <button class="nav-btn" mat-raised-button [matMenuTriggerFor]="modules">
          <mat-icon>dashboard</mat-icon>
          <span *ngIf="!isScreenSmall">{{ 'navbar.modules' | translate }}</span>
        </button>

        <mat-menu #modules="matMenu">
          <button class="nav-btn" mat-menu-item routerLink="/samba">
            <mat-icon>dynamic_form</mat-icon>
            <span>Samba</span>
          </button>
          <button class="nav-btn" mat-menu-item routerLink="/transmission">
            <mat-icon>download</mat-icon>
            <span>Transmission</span>
          </button>
          <button class="nav-btn" mat-menu-item routerLink="/cron">
            <mat-icon>schedule</mat-icon>
            <span>Cron</span>
          </button>
        </mat-menu>

        <button mat-icon-button *ngIf="authService.isAuthenticated && newMessages.length > 0"
          matTooltip="{{ 'navbar.removeMessages' | translate }}" [matMenuTriggerFor]="notifications">
          <mat-icon [matBadge]="newMessages.length" matBadgeOverlap="true" matBadgeColor="accent">
            notifications
          </mat-icon>
        </button>

        <button mat-icon-button *ngIf="authService.isAuthenticated && newMessages.length === 0"
          matTooltip="{{ 'navbar.checkoutMessages' | translate }}" [disabled]="isMessagesIconDisabled"
          (click)="isMessagesIconDisabled = true">
          <mat-icon>
            notifications
          </mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="settings">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #settings="matMenu">

          <button mat-menu-item *ngIf="appService.isInTweakMode" (click)="onNormalModeClick()">
            <mat-icon>all_out</mat-icon>
            <span>{{ 'navbar.normalMode' | translate }}</span>
          </button>
          <button mat-menu-item *ngIf="!appService.isInTweakMode" (click)="onTweakClick()">
            <mat-icon>build_circle</mat-icon>
            <span>{{ 'navbar.tweak' | translate }}</span>
          </button>
          <button mat-menu-item [matMenuTriggerFor]="languages">
            <mat-icon>language</mat-icon>
            <span>{{ 'navbar.language' | translate }}</span>
          </button>
          <a href="https://github.com/h4570/armnas/issues" target="_blank">
            <button mat-menu-item>
              <mat-icon>bug_report</mat-icon>
              <span>{{ 'navbar.reportProblem' | translate }}</span>
            </button>
          </a>

          <button mat-menu-item *ngIf="authService.isAuthenticated" (click)="onLogoutClick()">
            <mat-icon>logout</mat-icon>
            <span>{{ 'navbar.logout' | translate }}</span>
          </button>
        </mat-menu>

        <mat-menu #languages="matMenu">
          <button mat-menu-item (click)="changeLang('pl-PL')">
            <span>{{ 'navbar.polish' | translate }}</span>
          </button>
          <button mat-menu-item (click)="changeLang('en-US')">
            <span>{{ 'navbar.english' | translate }}</span>
          </button>
        </mat-menu>

        <mat-menu #notifications="matMenu">

          <span mat-menu-item *ngFor="let msg of newMessages" (click)="onDeleteMessageClick(msg)"
            matTooltip="{{msg.shortName}} - {{msg.tooltip}} ({{msg.date | date: 'dd.MM.yyyy HH:mm'}})">
            <mat-icon *ngIf="msg.type === 'Information'">info</mat-icon>
            <mat-icon *ngIf="msg.type === 'Warning'">warning</mat-icon>
            <mat-icon color="warn" *ngIf="msg.type === 'Error'">error</mat-icon>
            {{msg.shortName}}
          </span>

        </mat-menu>

      </ng-container>

    </div>

  </div>

</header>

<div style="height:80px;"></div>