.entry-container {
    width: 100%;
    padding: 20px;
}

.progress-bar {
    margin-top: 15px;
}

.share-name {
    width: 100px;
}

.entry {
    padding: 20px;
    margin-bottom: 20px;
    max-height: 380px;
    overflow: auto;
    background-color: rgb(245, 245, 245);
}

.full-width {
    width: 100%;
}