@use '~@angular/material' as mat;
@import '~@angular/material/theming';
$custom-typography: mat.define-typography-config($font-family: 'Lato');
@include mat.core($custom-typography);
$app-primary: mat.define-palette(mat.$blue-grey-palette, 900);
$app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$app-warn: mat.define-palette(mat.$red-palette);
$app-theme: mat.define-light-theme($app-primary, $app-accent, $app-warn);
@include mat.all-component-themes($app-theme);

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

.font-light {
    font-weight: $font-weight-light;
}

.font-regular {
    font-weight: $font-weight-regular;
}

.font-heavy {
    font-weight: $font-weight-heavy;
}

.rounded {
    border-radius: 10px;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
}

.mat-tooltip {
    font-size: 14px !important;
    white-space: normal !important;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

div,
button,
span:focus {
    outline: 0;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.margin-0 {
    margin: 0 !important;
}

.padding-0 {
    padding: 0 !important;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// SPACERS

.small-spacer {
    width: 1px;
    height: 25px;
}

.spacer {
    width: 1px;
    height: 50px;
}

.big-spacer {
    width: 1px;
    height: 75px;
}

// Handle 125% and 150% Windows 10 Font Scaling
@media (min-resolution: 120dpi) {
    html {
        font-size: 80%;
    }
}