<div class="container">
    <div class="row">
        <div class="col-12 login-container mat-elevation-z3 rounded">
            <h3>{{ 'login.header' | translate }}</h3>
            <mat-form-field class="full-width">
                <mat-label>{{ 'login.password' | translate }}</mat-label>
                <input type="password" matInput [disabled]="isFreezed" [(ngModel)]="password">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="onLoginClick()" [disabled]="isFreezed">{{
                'login.loginBtn' | translate }}</button>
            <div class="row" *ngIf="failed">
                <div class="col-12 failed-container mat-elevation-z1 rounded">
                    {{ 'login.loginFailed' | translate }}.
                </div>
            </div>
        </div>
    </div>
</div>